body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #00704a;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

section {
    padding: 2em;
}

#hero-section {
    background-image: url(st2.png);
}

.hero {
    text-align: center;
}

.content{
    position: relative;
    font-size: small;
    width: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 200px;
}

.content .textBox{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 100px;
}

.content .textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p{
    color: #333;
}

.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgbox img{
    max-width: 340px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img{
    max-width: 60px;
}

.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6) ;
    filter: invert(1);
}

.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00704a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.menu-item {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}